{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-2">
    <div class="m-11 p-5 rounded-2xl drop-shadow-xl bg-gray-100 dark:bg-neutral-700">
        
    </div>
    <div class="m-11 p-5 rounded-2xl drop-shadow-xl bg-gray-100 dark:bg-neutral-700">
        <div class="grid grid-cols-2 gap-4">
        {% for article in news['articles'] if not 'dagospia' in article['url'] %}
        <div class="p-2 flex">
            <div>
                <a href="{{article['url']}}" class="text-lg font-medium hover:text-sky-500">{{article['title']}}</a>
                <p class="text-xs">di 
                <span class="text-xs font-medium">{{article['source']['name']}}</span> 
                - 
                <span class="text-xs">{{article['publishedAt']|format_datetime}}</span> 
            </p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}