{% extends "base.html" %} 

{% block content %}

<div class="flex justify-center items-center m-20">
  <form action="/signup" method="post">
    <div
      class="drop-shadow-xl rounded-xl bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700 border grid grid-cols-1 p-24"
    >
      <div class="mb-8 text-center text-xl font-bold">
        Forgot Password
      </div>

      {% if error is defined %}
      <div class="mb-8 text-center text-lg italic text-red-500 flex justify-center align-middle">
        <span class="material-symbols-rounded">
          exclamation
        </span> {{error}}
      </div>
      {% endif %}
      <label for="email" class="mb-4">
        <p class="mb-3">Email Address</p>
        <input
          id="email"
          type="email"
          name="email"
          class="p-3 w-full max-w-full rounded-md border bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700"
        />
      </label>
      <button
        class="rounded-md bg-teal-500 hover:bg-teal-400 border-neutral-500 dark:border-neutral-300 border p-3"
      >
        Send Email
      </button>
    </div>
  </form>
</div>

{% endblock %}