{% extends "base.html" %} {% block content %}

<div class="flex justify-center items-center m-20">
  <form action="/signup" method="post">
    <div
      class="drop-shadow-xl rounded-xl bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700 border grid grid-cols-1 p-24"
    >
      <div class="mb-8 text-center text-xl font-bold">
        Sign-in to La Notte 24 Ore
      </div>

      {% if error is defined %}
      <div class="mb-8 text-center text-lg italic text-red-500 flex justify-center align-middle">
        <span class="material-symbols-rounded">
          exclamation
        </span> {{error}}
      </div>
      {% endif %}
      <div class="grid grid-cols-2">
        <label for="name" class="mb-4 mr-1">
          <p class="mb-3">Name</p>
          <input
            id="name"
            type="text"
            name="name"
            class="p-3 rounded-md border bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700"
          />
        </label>
        <label for="surname" class="mb-4 ml-1">
          <p class="mb-3">Surname</p>
          <input
            id="surname"
            type="text"
            name="surname"
            class="p-3 rounded-md border bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700"
          />
        </label>
      </div>
      <div class="grid grid-cols-2">
        <label for="country" class="mb-4 mr-1">
          <p class="mb-3">Country</p>
          <select id="country"
            name="country"
            class="p-3 w-full max-w-full rounded-md border bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700"
          >
            <option selected>Choose a country</option>
            {% for name, country in countries.items() %}
            <option value="{{ country }}">{{ name }}</option>
            {% endfor %}
          </select>
        </label>
        <label for="lang" class="mb-4 ml-1">
          <p class="mb-3">Language</p>
          <select
            id="lang"
            name="lang"
            class="p-3 w-full max-w-full rounded-md border bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700"
          >
            <option selected>Choose a language</option>
            {% for name, lang in languages.items() %}
                <option value="{{ lang }}">{{ name }}</option>
            {% endfor %}
        </select>
        </label>
      </div>
      <label for="email" class="mb-4">
        <p class="mb-3">Email Address</p>
        <input
          id="email"
          type="email"
          name="email"
          class="p-3 w-full max-w-full rounded-md border bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700"
        />
      </label>
      <label for="password" class="mb-4">
        <p class="mb-3">Password</p>
        <input
          id="password"
          type="password"
          name="password"
          class="p-3 w-full max-w-fullrounded-md border bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700"
        />
      </label>
      <!--<label for="file_input">
        <p class="mb-3">Upload profile picture</p>
        <input class="p-3 w-full max-w-full rounded-md border bg-white border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700 file:-m-3 file:mr-3 file:p-3 file:px-4 file:bg-zinc-700 file:text-white file:border-0 file:border-solid file:border-inherit" id="file_input" type="file">
        <p class="text-sm text-neutral-400 hover:text-neutral-200 cursor-pointer my-1" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
      </label>-->
      <div class="pt-4"></div>
      <label for="policy" class="mb-4 flex justify-center align-middle items-center">
        <input
          id="policy"
          type="checkbox"
          name="policy"
          class="border w-5 h-5 default:accent-white default:border-neutral-300 default:dark:border-neutral-700 checked:accent-teal-500 checked:border-neutral-300 checked:dark:border-neutral-700"
        />
        <span class="ml-2">Privacy Policy</span>
      </label>
      <div class="pt-4"></div>
      <button
        class="rounded-md bg-teal-500 hover:bg-teal-400 border-neutral-500 dark:border-neutral-300 border p-3"
      >
        Sign Up
      </button>
    </div>
  </form>
</div>

{% endblock %}
