{% for article in news['articles'] if not 'dagospia' in article['url'] %}
{% if loop.index <= 10 %}
<div class="p-2 py-4 flex">
  {% if loop.index is divisibleby(2) %} {% if article['urlToImage'] is not none
  %}
  <img
    src="{{article['urlToImage']}}"
    alt="{{article['title']}}"
    height="50"
    class="pr-3 rounded-lg max-h-32"
  />
  {% endif %} {% endif %}
  <div>
    <a href="{{article['url']}}" class="text-lg font-medium hover:text-sky-500"
      >{{article['title']}}</a
    >
    <p class="text-xs">
      di
      <span class="text-xs font-medium">{{article['source']['name']}}</span>
      -
      <span class="text-xs">{{article['publishedAt']|format_datetime}}</span>
    </p>
    <p class="text-sm">{{article['description']}}</p>
    {% if isLoggedIn is not none %}
    <form action="/favorite" method="post">
      <input type="text" name="article" value="{{article}}" hidden>
      <input type="text" name="add" value="1" hidden>
      <input type="text" name="redirect" value="{{ request.path }}" hidden>
      <button type="submit" class="text-sm text-neutral-700 dark:text-neutral-400 hover:text-neutral-400 hover:dark:text-neutral-200">Aggiungi ai preferiti</button>
    </form>
    {% endif %}
  </div>
  {% if loop.index is not divisibleby(2) %} {% if article['urlToImage'] is not
  none %}
  <img
    src="{{article['urlToImage']}}"
    alt="{{article['title']}}"
    class="pl-2 rounded-lg max-h-32"
  />
  {% endif %} {% endif %}
</div>
{% if loop.index is divisibleby(4) %}
<div class="pt-3"></div>
<div class="border-b border-gray-400"></div>
<div class="pb-3"></div>
{% endif %} {% endif %} {% endfor %}
